<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/OIL_RouteGISJ2/src/com/routegis/users/example/RigidShapes.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.routegis.users.example.RigidShapes"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="OIL_RouteGISJ2"/>
</launchConfiguration>
